/* General Style */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Road+Rage&display=swap');

body {
   margin: 0px;
   height: 100vh;
}

.body  {
   display: flex;
   flex-direction: column;
   height: 100vh;
}


/* Nav-bar Style */
.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #7DAF79;
}
.img {
   max-width: 100px;
   max-height: 100px;
}
.links a {
   margin: 10px;
   text-decoration: none;
   color: #042901;
}
.links a:hover {
   color: #075f01;
}

/* Corpo 1 Style */

.body2 {
   display: flex;
   justify-content: space-around;
   background-color: #516e4f;
   color: aliceblue;
}
.text1 {
   margin: 20px;
   display: flex;
   flex-direction: column;
}
.text1 h1 {
   font-family: 'Orbitron', sans-serif;
   font-size: 50px;
}
.text1 p{
   max-width: 400px;
}
.img2 {
   max-width: 400px;
   max-height: 400px;
   margin: 20px;
}
.button {
   color: #7DAF79;
   background-color: #042901;
}
.button:hover {
   color: #000500;
   background-color: #104d0c;
}

/* Corpo 2 Style */

.body3 {
   display: flex;
   background-color: #ffffff;
   justify-content: space-around;
   padding: 100px;
   gap: 80px;

}
.body3pet {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.img3 {
   max-width: 200px;
   max-height: 200px;
}




/* Footer Style */

.footer {
   text-align: center;
   background-color: #7DAF79;
   color: #042901;
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
   padding-top: 1em;
}